.shopgrid{
    display: flex;
    gap: 1px;
    flex-wrap: wrap;
    justify-content: center;
}
.productcard{
    color: white;
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
}
.productimg{
    width: 480px;
    height: 480px;
}
.producttitle{
    margin: 0px;
    font-size: 22px;
    font-weight: 900;
}
.productprice{
    margin: 0px;
    margin-bottom: 14px;
}
.productbtn{
    color: white;
    border: 1px solid white;
    font-size: 18px;
    padding: 15px 5px;
    width: 480px;
    justify-self: center;
    margin-bottom: 15px;
}
.title{
    color: white;
    font-weight: bold;
    margin-left: 75px;
    letter-spacing: 3px;
}
.info{
    color: rgba(255, 255, 255, 0.648);
    width: 50vw;
    margin-left: 75px;
    margin-bottom: 30px;
    font-size: 18px;
}
button:hover{
    cursor: pointer;
}